body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    background-color: #eef2ff;
}

.nav {
    display: flex;
    flex-direction: row;
    position: sticky;
    height: 80px;
    width: 100%;
    background: #4f46e5;
    background-color: #4f46e5;
    justify-content: center;
}

.nav-title {
    font-family: 'Montserrat Alternates';
    align-self: center;
    font-size: 2rem;
    color: #eef2ff;
}

.content {
    align-self: center;
    height: 100%;
    width: 80%;
    color: #262467;
    margin-top: 2%;
}

.content {
    align-self: center;
    height: 100%;
    width: 80%;
    color: #262467;
    margin-top: 2%;
}

.header {
    font-family: 'Frank Ruhl Libre';
    text-align: center;
    font-size: 4rem;
    color: #262467;
}

.description {
    font-family: 'Varela';
    font-size: 1.5rem;
}

nav .mainMenu {
    height: 100vh;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #4f46e5;
    transition: top 1s ease 0s;
    display: none;
    gap: 2rem;
  }
  nav .mainMenu li a {
    padding: 1rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #eef2ff;
    font-size: 2rem;
    transition: 0.2s ease;
  }
  nav .mainMenu li a:hover {
    background: #4338ca;
  }
nav .openMenu {
    font-size: 2rem;
    margin: 20px;
    cursor: pointer;
    color: #eef2ff;
    display: block;
    position: absolute;
    top: 3%;
    right: 2%;
}
nav .mainMenu .closeMenu, .icons i {
    font-size: 2rem;
    display: none;
    cursor: pointer;
}

nav .mainMenu .closeMenu {
    color: #eef2ff;
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
}

li {
    list-style: none;
}

.pdf-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    color: #eef2ff;
    align-items: center;
}


iframe {
    display: flex;
    border: none;
    height: 70vh;
    width: 80vw;
}


